NODE_ENV=production
NEXT_PUBLIC_API_URL=https://api.oasis-care.co/graphql
NEXTAUTH_URL=https://app.oasis-care.co
NEXTAUTH_SECRET=
COGNITO_ISSUER=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_HOSTED_UI_DOMAIN=https://eu-west-2ypo6sl1zm.auth.eu-west-2.amazoncognito.com
NEXT_PUBLIC_SITE_URL=https://app.oasis-care.co
