NEXT_PUBLIC_API_URL=http://localhost:4000/graphql
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
COGNITO_HOSTED_UI_DOMAIN=https://your-domain.auth.eu-west-2.amazoncognito.com
COGNITO_ISSUER=https://cognito-idp.eu-west-2.amazonaws.com/your-user-pool-id
COGNITO_CLIENT_ID=your-cognito-client-id
COGNITO_CLIENT_SECRET=your-cognito-client-secret
